<%- include('../../shared/includes/head', { pageTitle: product.name }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/widget-product.css">
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main id="product-details-container">
        <section id="image-wrapper">
            <img src="<%= product.imageUrl %>" />
        </section>
        <section id="product-info-wrapper">
        <h1><%= product.name %></h1>
        <p>$<%= product.price %></p>
        <p><%= product.summary %></p>
        <p><%= product.description %></p>
        </section>
    </main>
    <section class="btn-wrapper btn-group">
        <button onclick="location.href='/products'" type="button" class="btn gray">Go Back</button>
        <button id="add-to-cart" class="btn green" data-product-id="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Add to Cart</button>
    </section>
<%- include('../../shared/includes/footer'); %>