<li class="cart-item">
    <div class="card-left">
        <a href="/products/<%= cartItem.product.id %>"><p class="item-name"><%= cartItem.product.name %></p></a>
        <p class="item-price-block">$<span class="total-item-price"><%= cartItem.totalPrice %></span><span class="item-price"> ($<%= cartItem.product.price %>)</span></p>
    </div>
    <div class="card-right">
        <input type="number" value="<%= cartItem.quantity %>" min="0"/>
        <button class="btn btn-update" data-product-id="<%= cartItem.product.id %>" data-csrf="<%= locals.csrfToken %>">Update</button>
    </div>
</li>