<div class="product-item scale">
    <div class="btn-delete-wrapper">
        <button class="btn-delete" data-product-id="<%= product.id %>" data-csrf-token="<%= locals.csrfToken %>">X</button>
    </div>
    <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
    <section class="product-details">
        <p class="product-name"><%= product.name %></p>
        <div class="product-bottom">
            <p class="product-price">$<%= product.price %></p>
            <a class="" href="/admin/products/<%= product.id %>">More details &#8594</a>
            <!-- <button class="btn btn-alt">Delete</button> -->
        </div>
    </section>
</div>